<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/kanban.css'/>
    <link rel='stylesheet' href='/vendor/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css'/>
    <link rel='stylesheet' href='/vendor/bootstrap-select/dist/css/bootstrap-select.min.css'/>
    <link rel="stylesheet" href='/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css' />
    <script>window.username = '<%= userName %>';</script>
</head>
<body>

<% include _header %>

<div id="toolbar" class="navbar-inverse" data-bind="visible: true" style="display: none">
    <div class="navbar-collapse collapse">
        <h1 class="navbar-text" id="project-name"><%= displayTitle %></h1>
        <div class="btn-group navbar-left" role="group" id="toolbar-btn-group">
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#add-issue-modal" data-bind="tooltip: { title: '新規タスク作成', placement: 'bottom' }">
                <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> <span class="sr-only">Add task</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#members-settings-modal" data-bind="tooltip: { title: 'メンバー管理', placement: 'bottom' }">
                <span class="glyphicon glyphicon-user"></span> <span class="sr-only">Members</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#project-labels-modal" data-bind="tooltip: { title: 'ラベル管理', placement: 'bottom' }">
                <span class="glyphicon glyphicon-tags"></span> <span class="sr-only">Labels</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#project-settings-modal" data-bind="tooltip: { title: 'プロジェクト管理', placement: 'bottom' }">
                <span class="glyphicon glyphicon-cog"></span> <span class="sr-only">Settings</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#project-stats-modal" data-bind="tooltip: { title: '統計', placement: 'bottom' }">
                <span class="glyphicon glyphicon-stats"></span> <span class="sr-only">Stats</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-bind="visible: viewMode() === 'full', click: viewMode.bind(this, 'compact'), tooltip: { title: 'コンパクトモードに変更', placement: 'bottom' }">
                <span class="glyphicon glyphicon-resize-small"></span> <span class="sr-only">Compact View</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-bind="visible: viewMode() === 'compact', click: viewMode.bind(this, 'full'), tooltip: { title: 'フルモードに変更', placement: 'bottom' }">
                <span class="glyphicon glyphicon-resize-full"></span> <span class="sr-only">Full View</span>
            </button>
        </div>
        <form class="navbar-form navbar-left search-form" role="search">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="e.g., 'cost:5' , 'bugfix'" data-bind="textInput: searchQuery">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </form>
        <div class="navbar-text" data-bind="if: loginMember() && loginMember().workingIssues().length">
            <span class="user-working-message alert alert-success">
                <span class="glyphicon glyphicon-play-circle"></span> 作業中です。
                (<span data-bind="text: loginMember().workingTimeFormat()"></span>経過)
            </span>
        </div>
        <div class="navbar-right" role="group" id="joined-members-group">
            <ul data-bind="foreach: {
                data: _.uniq(joinedMembers()),
                afterAdd: view.effects.fadeIn,
                beforeRemove: view.effects.fadeOut }">
                <li data-bind="tooltip: { title: username, placement: 'bottom' }">
                    <img data-bind="attr: { src: avatarUrl }" class="user-avatar" src="" width="34" height="34">
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="loader" data-bind="visible: false" style="display: block"></div>

<div id="main" class="main" data-bind="visible: true, css: {'compact': viewMode() === 'compact'}" style="display: none">
    <div class="blocks">
        <ul class="stage-blocks">
            <% stages.forEach(function (stage) { %>
                <% if(stage.name == 'todo'){ %>
                    <li id="three-stage-blocks">
                        <ul class="inner-stage-blocks">
                <% } %>
                <li id="<%= stage.name %>-block" class="stage-block">
                    <h2 class="stage-title">
                        <%= stage.displayName %> <span class="badge" data-bind="text: $root.stages.<%= stage.name %>().length"></span>
                        <% if(stage.name == 'done') { %>
                        <a href="#" class="all-done-archive-button" data-toggle="modal" data-target="#archive-all-modal">Archive all</a>
                        <% } %>
                        <span></span>
                    </h2>

                    <% if (stage.assigned) { %>
                        <ul class="cell-block" data-bind="foreach: {
                            data: members,
                            afterRender: view.MiniMenu.init,
                            afterAdd: view.effects.slideDown,
                            beforeRemove: view.effects.slideUp }">
                            <li class="dummy-user-cell-block" data-bind="visible: visible"></li>
                        </ul>
                    <% } else { %>
                        <ul class="cell-block" data-bind="
                        sortable: {
                            data: $root.draggableList.<%= stage.name %>.issues,
                            afterRender: view.MiniMenu.init }">
                            <li class="card" draggable="true" data-bind="visible: visible">
                                <div class="card-right-wrapper">
                                    <% include _minimenu %>
                                    <!-- ko if: cost() >= 1 -->
                                    <div class="weight-badge" data-bind="text: cost, css: {
                                        'weight-badge-low'   : cost() === 1,
                                        'weight-badge-middle': cost() === 3,
                                        'weight-badge-high'  : cost() === 5 }"></div>
                                    <!-- /ko -->
                                </div>
                                <ul class="card-label-block" data-bind="foreach: { data: labels }">
                                    <li class="card-label-inner-block">
                                        <div class="card-label" data-bind="
                                            style: { 'background-color': '#' + color() },
                                            tooltip: { title: name, placement: 'right' }"></div>
                                    </li>
                                </ul>

                                <div class="card-title-wrap" data-toggle="modal" data-target="#issue-detail-modal" data-bind="click: $root.selectedIssue">
                                    <span class="card-title" data-bind="text: displayTitle"></span>
                                </div>
                            </li>
                        </ul>
                    <% } %>
                </li>
                <% if(stage.name == 'review'){ %>
                    </ul>
                    <div class="user-block-area">

                        <ul class="user-blocks" data-bind="foreach: { data: members, as: 'member' }">
                            <li class="user-block" data-bind="visible: member.visible">
                                <div class="user-label-area">
                                    <span class="user-name">
                                        <img data-bind="attr: { src: member.avatarUrl }" class="user-avatar" src="" width="24" height="24">
                                        <b data-bind="text: userName"></b>
                                        <span data-bind="text: '(' + member.wip() + '/' + member.wipLimit() + ')'"></span>
                                        <a href="#" class="user-settings-button"
                                           data-toggle="modal" data-target="#user-settings-modal"
                                           data-bind="click: $root.selectedMember">
                                            <span class="glyphicon glyphicon-cog" area-hidden="true"></span>
                                        </a>
                                    </span>

                                    <span class="user-working-message alert alert-success" data-bind="visible: member.workingIssues().length">
                                        <span class="glyphicon glyphicon-play-circle"></span> 作業中です。
                                        (<span data-bind="text: member.workingTimeFormat()"></span>経過)
                                    </span>

                                    <span class="wip-limited-message alert alert-warning" data-bind="visible: member.isWipLimited">
                                        <span class="glyphicon glyphicon-warning-sign"></span> WIP制限に達しています。
                                    </span>
                                </div>

                                <ul class="stage-blocks" data-bind="foreach: { data: <%= assignedStageNamesJSON %>, as: 'stage' }">
                                    <li class="stage-block">
                                        <div class="user-cell-block">
                                            <!-- ko with: $root.draggableList[stage][member._id()] -->
                                            <ul class="card-list" data-bind="
                                                    sortable: { data: issues, afterRender: view.MiniMenu.init }">
                                                <li class="card" draggable="true" data-bind="visible: ($index() < 2 || !$parent.isCollapse()) && visible()">
                                                    <div class="card-right-wrapper">
                                                        <% include _minimenu %>
                                                        <!-- ko if: cost() >= 1 -->
                                                        <div class="weight-badge" data-bind="text: cost, css: {
                                                            'weight-badge-low'   : cost() === 1,
                                                            'weight-badge-middle': cost() === 3,
                                                            'weight-badge-high'  : cost() === 5 }"></div>
                                                        <!-- /ko -->
                                                    </div>
                                                    <ul class="card-label-block" data-bind="foreach: { data: labels }">
                                                        <li class="card-label-inner-block">
                                                            <div class="card-label" data-bind="
                                                                style: { 'background-color': '#' + color() },
                                                                tooltip: { title: name, placement: 'right' }"></div>
                                                        </li>
                                                    </ul>
                                                    <div class="card-title-wrap" data-toggle="modal" data-target="#issue-detail-modal" data-bind="click: $root.selectedIssue">
                                                        <!-- ko if: stage() === 'doing' -->
                                                        <span class="glyphicon glyphicon-play-circle issue-working-icon" data-bind="
                                                            click: $root.onClickToggleWorkOnCard,
                                                            css: {'issue-working-active': isWorking}"></span>
                                                        <!-- /ko -->
                                                        <span class="card-title" data-bind="text: displayTitle, css: { 'is-working': stage() === 'doing' }"></span>
                                                    </div>
                                                </li>>
                                            </ul>

                                            <a href="#" class="each-all-issues-view-button" data-bind="
                                                    click: toggleCollapse, visible: issues().length > 2">
                                                <span class="glyphicon" data-bind="css: {
                                                    'glyphicon-collapse-down': isCollapse(),
                                                    'glyphicon-collapse-up': !isCollapse()
                                                }"></span>
                                                <span data-bind="text: isCollapse() ? 'Expand ' : 'Collapse '"></span>
                                                <span class="badge" data-bind="text: issues().length"></span>
                                            </a>
                                            <!-- /ko -->
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- .user-block-area -->
                    </li>
                <% } %>
            <% }); %>
        </ul>

    </div>

    <% include alert %>

    <div id="activity-wrap">
        <div id="activity" class="scroll-wrap">
            <ul data-bind="foreach: { data: chatTexts, afterAdd: view.effects.scrollDown }">
                <li data-bind="text: $data"></li>
            </ul>
        </div>
    </div>
</div>

<task-detail-modal></task-detail-modal>
<create-task-modal></create-task-modal>
<assign-task-modal></assign-task-modal>
<archive-task-modal></archive-task-modal>
<project-settings-modal></project-settings-modal>
<users-settings-modal></users-settings-modal>
<user-settings-modal></user-settings-modal>
<remove-user-modal></remove-user-modal>
<archive-all-tasks-modal></archive-all-tasks-modal>
<project-labels-modal></project-labels-modal>
<project-stats-modal></project-stats-modal>

<!-- include javascripts -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="/vendor/jquery.easing/js/jquery.easing.min.js"></script>
<script src="/vendor/marked/marked.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/vendor/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
<script src="/vendor/lodash/lodash.min.js"></script>
<script src="/vendor/knockoutjs/dist/knockout.js"></script>
<script src="/vendor/knockout-sortable/build/knockout-sortable.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/vendor/eventemitter2/lib/eventemitter2.js"></script>
<script src="/vendor/knockout-bootstrap/build/knockout-bootstrap.min.js"></script>
<script src="/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script src="/vendor/bootstrap-markdown/locale/bootstrap-markdown.ja.js"></script>
<script src="/vendor/moment/moment.js"></script>

<script src="/javascripts/module/knockout/knockout-selectPicker.js"></script>
<script src="/javascripts/module/knockout/knockout-bootstrap-switch.js"></script>
<script src="/javascripts/module/util.js"></script>
<script src="/javascripts/module/localStorage.js"></script>
<script src="/javascripts/model/Socket.js"></script>
<script src="/javascripts/model/stageTypes.js"></script>
<script src="/javascripts/model/Label.js"></script>
<script src="/javascripts/model/Issue.js"></script>
<script src="/javascripts/model/Work.js"></script>
<script src="/javascripts/model/User.js"></script>
<script src="/javascripts/model/Project.js"></script>
<script src="/javascripts/model/Projects.js"></script>
<script src="/javascripts/model/ProjectStats.js"></script>
<script src="/javascripts/view/effects.js"></script>
<script src="/javascripts/view/miniMenu.js"></script>
<script src="/javascripts/view/scroller.js"></script>
<script src="/javascripts/viewmodel/DraggableIssueList.js"></script>
<script src="/javascripts/viewmodel/Alert.js"></script>
<script src="/javascripts/viewmodel/Kanban.js"></script>
<script src="/javascripts/viewmodel/AlertHub.js"></script>
<script src="/javascripts/roots/kanban.js"></script>

</body>
</html>
